<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ title|default('Search results') }}{% endblock %}</title>
    </head>
    <body>
        <div id="content">
            {% block liip_search_content %}
            {% endblock %}
        </div>
    </body>
</html>
