{% include 'LiipSearchBundle:Search:search_results_title.html.twig' with {'translationDomain':translationDomain} %}
{% render 'liip_search_default_controller:showSearchBoxAction' with {'field_id':'query2', 'query':searchTerm} %}

{% if estimated %}
    {% include 'LiipSearchBundle:Search:search_results_summary.html.twig' with {'count':estimated, 'query':searchTerm, 'translationDomain': translationDomain} %}
        <div id="search-results">
            {% include 'LiipSearchBundle:Search:search_results.html.twig' with {'searchResults':searchResults, 'query':searchTerm} %}
            {% if showPaging  %}
                <div class="pager">
                    {% render 'liip_search_default_controller:showPagingAction' with {'estimated':estimated, 'start': start, 'perPage': perPage, 'query': searchTerm, 'translationDomain': translationDomain} %}
                </div>
            {% endif %}
        </div>
{% else %}
    <p>{% trans from translationDomain %}search_noresults{% endtrans %}</p>
{% endif %}
