{% extends "LiipSearchBundle::layout.html.twig" %}

{% block content %}

{% include 'LiipSearchBundle:Search:search_results_title.html.twig' with {'translationDomain':translationDomain} %}
{% render url('liip_searchbox', {'field_id': 'query2', 'query': searchTerm}) %}

{% if estimated %}
    {% include 'LiipSearchBundle:Search:search_results_summary.html.twig' with {'count':estimated, 'query':searchTerm, 'translationDomain': translationDomain} %}
        <div id="search-results">
            {% include 'LiipSearchBundle:Search:search_results.html.twig' with {'searchResults':searchResults, 'query':searchTerm} %}
            {% if showPaging  %}
                <div class="pager">
                    {# # TODO: change to render(controller(... when we drop symfony 2.1 support #}
                    {% render url('liip_search_paging', {'estimated': estimated, 'start': start, 'perPage': perPage, 'query': searchTerm, 'translationDomain': translationDomain}) %}
                </div>
            {% endif %}
        </div>
{% elseif(searchTerm) %}
    <p>{% trans from translationDomain %}search_noresults{% endtrans %}</p>
{% endif %}

{% endblock %}