{% block liip_search_content %}
    {% block liip_search_title %}
        <h1>{% trans from 'LiipSearchBundle' %}search{% endtrans %}</h1>
    {% endblock %}

    {% block liip_search_results %}
        <div id="search-results" class="search-results">
            {% block liip_search_results_header %}
                {{ liip_search_box(query, 'query_repeat', 'advanced-search') }}
            {% endblock %}

            {% block liip_search_results_main %}
                {% if estimated %}
                    <p class="search-results-summary">
                        {{ 'search_term'|transchoice(estimated, {'%query%': query,'%count%': estimated}, 'LiipSearchBundle') }}
                    </p>
                    {% include 'LiipSearchBundle:Search:search_result_items.html.twig' with {'search_results':search_results, 'query': query} %}
                {% elseif(query) %}
                    <p class="search-results-summary">{% trans from 'LiipSearchBundle' %}search_noresults{% endtrans %}</p>
                {% endif %}
            {% endblock %}

            {% block liip_search_results_footer %}
                {% if estimated %}
                    <div class="pager">
                        {{ pagerfanta(pager) }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
